body {
  background-color: lightblue;
  position: absolute;
  left: 20px;
}

.title {
  text-align: center;
}

.urlInput {
  min-width: 1050px;
  width: auto;

}

.transformer-input {
	font-weight: normal;
	padding-left: 5px;
}

.spinner {
  align-content: center;
}

.article-list {
  margin-bottom: 75px;
}

.article-entry {
  margin-bottom: 10px;
  border-radius: 10px !important;
}

.article-info {

}

.voice-chooser {
  width: 130px;
}

.conversion-chooser {
  width: 130px;
}
/*.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}*/
