body {
  background-color: lightblue;
  position: absolute;
  left: 20px;
  font-family: 'Work Sans', sans-serif;
}

.title {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  /*font-size: 36px;*/
}

.subtitle {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  /*font-size: 24px;*/
}

.urlInput {
  min-width: 680px;
  width: auto;
  border-radius: 10px !important;
}

.transformer-input {
	font-weight: normal;
	padding-left: 5px;
}

.spinner {
  align-content: center;
}

.article-list {
  margin-bottom: 75px;
}

.article-entry {
  margin-bottom: 10px;
  border-radius: 10px !important;
}

.voice-chooser {
  width: 120px;
}

.conversion-chooser {
  width: 120px;
}
/*.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}*/
